.title {
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding-bottom: 5px;
    width: auto;
}

.thumb {
    width: 137px;
    border-radius: 15px;
    padding: 6px;    
    margin-right: auto;
    margin-left: auto;
    float: none;

    
    
}

.menubar {
    text-align: center;
    font-size: 20px;
}

body {
    font-family: WTM;
    background-color: #2b2b2b;
}

@font-face {
    font-family: WTM;
    src: url(/walkthemoon.ttf);
}

a {
    padding-right: 5px;
    padding-left: 5px;
    color: #ECAC0B;
}

.comeback {
    font-size: 39px;
    font-family: WTM;
    color: #FFF;
}

img {
    width: 135px;
    border-radius: 15px;
    padding: 6px;    
    float: none;

    
    
}

.beta {
    width: auto;
    height: auto;
}
